.msGrid-m { 
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);  
  background-color: #a8a9aa;
}

.msGrid-s { 
  width: 560px;
  height: 560px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);  
  background-color: #a8a9aa;
}

.msGrid-l { 
  width: 1000px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(16, 1fr);  
  background-color: #a8a9aa;
}

.msGrid-m div p {
  color: blue;
  font-size: 25px;
}

.msGrid-s div p {
  color: blue;
  font-size: 40px;
}

.msGrid-l div p {
  color: blue;
  font-size: 25px;
}

.valid { 
  height: 100%;
  width: 100%;
  background-image: url('/src/assets/game/tile-icon.png');
  background-size: cover;
}

.bomb { 
  height: 100%;
  width: 100%;
  background-image: url('/src/assets/game/tile-icon.png');
  background-size: cover;
}

.explode {
  height: 100%;
  width: 100%;
  background-image: url('/src/assets/game/mine-bg-tile.png');
  background-size: cover;
}

.flag {
  height: 100%;
  width: 100%; 
  background-image: url('/src/assets/game/flag-tile.png');
  background-size: cover;
}

.checked { 
  height: 100%;
  width: 100%;
  background-image: url('/src/assets/game/bg-tile.png');
  background-size: cover;
}


@media (max-width: 640px) {
  .msGrid-m { 
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .msGrid-s { 
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .msGrid-m div p {
    color: blue;
    font-size: 15px;
  }
  
  .msGrid-s div p {
    color: blue;
    font-size: 30px;
  }

}

@media (max-width: 1000px) {
  .msGrid-l { 
    width: 100%;
    height: auto;
  }
  .msGrid-l div p {
    color: blue;
    font-size: 13px;
  }
  .valid { 
    aspect-ratio: 1 / 1;
  }
  
  .bomb { 
    aspect-ratio: 1 / 1;
  }
  
  .explode {
    aspect-ratio: 1 / 1;
  }
  
  .flag {
    aspect-ratio: 1 / 1;
  }
  
  .checked { 
    aspect-ratio: 1 / 1;
  }
}